---
import Countdown from "./Countdown.astro";


---

<header>
    <div class="green-line"></div>
    <div class="text-container">
        <h2>NUESTRA BODA</h2>
        <h1>Sixto & Maria Fernanda</h1>
    </div>
    <div class="border-container">
        <img src="assets/hero-border-down.png" alt="">
    </div>
    <div class="countdown">
        <Countdown deadline="2025-08-16T14:30:00" />
    </div>
</header>

<style>
    header {
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url('/images/hero.webp');
        background-size: cover;
        background-position: center;

        .green-line {
            position: absolute;
            top: 0;
            width: 100%;
            height: 2vh;
            background-color: var(--green);
        }

        .text-container {
            width: 100%;
            position: absolute;
            text-align: center;
            margin: 0 auto;
            top: 5vh;
            color: var(--green);
            
            h2 {
                font-size: 1.25rem;
                margin: 0 0 1.5vh;
                font-family: 'Times', serif;
                font-weight: 300;
                text-transform: uppercase;
            }
            h1 {
                font-size: 1.5rem;
                font-weight: 300;
                font-family: 'Brilliant', sans-serif;
                margin: 0;
            }
        }
        .border-container {
            position: relative;
            width: 100%;
            height: 100%;
            bottom: 10vh;
            display: flex;
            justify-content: end;
            align-items: center;
            img {
                width: 100%;
                height: 18vh;
                position: absolute;
                bottom: 0;
            }
        }
        .countdown {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 10vh;
            background-color: #fff;
        }
    }
</style>