---
import Countdown from "./Countdown.astro";
import MusicPlayer from "./MusicPlayer.astro";


---

<header>
    <img class="bg-blur bright" src="images/hero.webp" alt="">
    <img class="bg-front bright" src="images/hero.webp" alt="">
    <div class="green-line to-return-down"></div>
    <div class="text-container to-return-down">
        <h2>NUESTRA BODA</h2>
        <h1>Sixto & Maria Fernanda</h1>
    </div>
    <div class="versicle-container to-return-up delay-1">
        <p>"Mas valen dos que uno porque obtienen<br>más fruto de su esfuerzo, porque si caen,<br>el uno levanta al otro"</p>
        <p>Eclesiastés 4:9-12</p>
        <MusicPlayer />
    </div>
    <div class="border-container to-return-up delay-1">
        <img src="assets/hero-border-down.png" alt="">
        <p class="border-text to-the-right delay-2">FALTA<br>POCO PARA<br>EL <span class="grant">gran</span> DÍA</p>
    </div>
    <div class="countdown to-return-up ">
        <Countdown deadline="2025-08-16T14:30:00" />
    </div>
</header>

<style>
    header {
        width: 100%;
        max-width: 48rem;
        margin: 0 auto;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .bg-blur {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            object-fit: cover;
            object-position: center;
            z-index: -1;
        }

        .bg-front {
            display: none;
        }

        .green-line {
            position: absolute;
            top: 0;
            width: 100%;
            height: 2vh;
            background-color: var(--green);
            z-index: 1;
        }

        .text-container {
            width: 100%;
            position: absolute;
            text-align: center;
            margin: 0 auto;
            top: 5vh;
            color: var(--green);
            z-index: 1;
            
            h2 {
                font-size: 1.25rem;
                margin: 0 0 1.5vh;
                font-family: 'Times', serif;
                font-weight: 300;
                text-transform: uppercase;
            }
            h1 {
                font-size: 1.5rem;
                font-weight: 300;
                font-family: 'Brilliant', sans-serif;
                margin: 0;
            }
        }
        .versicle-container {
            position: absolute;
            bottom: 20vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 2vh;
            z-index: 2;

            p {
                margin: 0;
                color: #fff;
                font-family: 'Calibri', sans-serif;
                font-size: 1rem;
            }
        }
        .border-container {
            position: relative;
            width: 100%;
            height: 100%;
            bottom: 10vh;
            display: flex;
            justify-content: end;
            align-items: end;
            z-index: 1;

            .border-text {
                position: absolute;
                bottom: 0;
                right: 5vw;
                text-align: end;
                font-size: 1rem;
                color: var(--green);
            }
            .grant {
                font-family: 'Brilliant', sans-serif;
                font-size: 1.5rem;
            }
            img {
                width: 100%;
                height: 18vh;
                position: absolute;
                bottom: 0;
            }
        }
        .countdown {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 10vh;
            background-color: #fff;
            transition-delay: 0.25s;            
        }
    }

    @media (width >= 768px) {
        header {
            background-position: top;

            .text-container {
                top: 1.75rem;

                h2 {
                    font-size: 1.75rem;
                }
                h1 {
                    font-size: 2.25rem;
                }
            }
            .versicle-container {

                p {
                    font-size: 1.5rem;
                }
            }
            .border-container {

                .border-text {
                    font-size: 1.5rem;
                }
                .grant {
                    font-size: 2.25rem;
                }
            }
        }
    }
    @media (width >= 960px) {
        header {
            .bg-blur {
                display: block;
                filter: blur(10px);
                -webkit-filter: blur(10px);
            }

            .bg-front {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                object-fit: contain;
                object-position: center;
                z-index: 0;
                margin: 0 auto;
                -webkit-mask-image: linear-gradient(to left, black 90%, transparent 100%);
                mask-image: linear-gradient(to left, black 80%, transparent );
            }
            .text-container {

                h2 {
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                }
                h1 {
                    font-size: 1.5rem;
                }
            }
            .versicle-container {

                p {
                    font-size: 1.125rem;
                }
            }
            .border-container {

                .border-text {
                    margin: 0;
                    font-size: 1.125rem;
                    line-height: 1.325rem;
                }
                .grant {
                    font-size: 1.5rem;
                }
            }
        }
    } 
</style>