---

---

<section>
    <h3 class="green-title to-return-up">EL INICIO DE</h3>
    <h2 class="to-return-up">Nuestro para Siempre</h2>
    <p class="to-return-up">Hay momentos en la vida que marcan el alma para siempre.<br>Este es uno de ellos.</p>
    <p class="margin-fix to-return-up">Con la bendición de Dios y la certeza de tenernos el uno al otro, hemos decidido dar el siguiente paso en nuestra historia.</p>
    <h3 class="to-return-up">NOSOTROS,</h3>
    <h2 class="to-return-up">Maria Fernanda Torres Oleas<br>&<br>Sixto Antonio La Mota Solorzano</h2>
    <p class="to-return-up">hemos elegido unir nuestras vidas en matrimonio, y con alegría en el corazón, queremos compartir con ustedes el inicio de esta gran aventura que emprendemos juntos, con fe, esperanza y mucho amor.</p>
</section>

<style>
    section {
        max-width: 48rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 8vh 5vw;
        overflow: hidden;
        
        p {
            font-family: 'Calibri', sans-serif;
            font-size: 1rem;
            color: var(--gray);
            margin: 2vh 0;
            width: 100%;
            max-width: 460px;
        }
        h2 {
            width: 100%;
            font-family: 'Brilliant', sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            margin: 1vh 0 0;
            color: var(--green);
            min-width: 460px;
            max-width: 460px;
        }
        h3 {
            width: 100%;
            font-family: 'Times', serif;
            font-size: 1.25rem;
            font-weight: 300;
            margin: 1vh 0 1.5vh;
            color: var(--gray);
            min-width: 460px;
            max-width: 460px;
        }
        .green-title {
            color: var(--green);
            margin-bottom: 1vh;
        }
        .margin-fix {
            margin: 0 0 1vh;
        }
    }
    @media (width >= 768px) {
        section {
            width: auto;
            padding: 5vh 20vw;
            p {
                font-size: 1.5rem;
                margin: 4vh 0;
                min-width: 460px;
            }
            h2 {
                font-size: 2rem;
                min-width: 460px;
            }
            h3 {
                font-size: 1.75rem;
                min-width: 460px;
            }
            .margin-fix {
                margin: 0 0 3vh;
            }
        }
    }
</style>